body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin-top: 50px;
}

h1 {
  color: #2c3e50;
}

.btn {
  display: block;
  width: 250px;
  margin: 10px auto;
  padding: 12px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.btn:hover {
  background-color: #2980b9;
}